@use "~styles/variables" as *;

.primary-button {
    background: $secondary;
    font-weight: 500;
    font-size: 20px;
    line-height: 57px;
    padding: 0 74px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
}
