.filter {
    margin-bottom: 28px;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid #080707;
        &::after, &::before {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
        }
        &::after {
            height: 2px;
            background: #424242;
            bottom: 1px;
        }
        &::before {
            bottom: 0;
            height: 1px;
            background: #080707;
        }
    }
    &__results {
        margin-top: 24px;
    }
    &__results-text {
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        span {
            font-weight: 600;
        }
    }
 }
