.search {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    &__inner {
        display: flex;
        align-items: center;
    }
    &__btn {
        max-width: unset;
        width: auto;
        flex-grow: 1;
    }
    &__title {
        margin-bottom: 38px;
    }
}
