@use "~styles/variables" as *;

.sorting {
    display: flex;
    align-items: center;
    &__title {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.888889px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
        margin-right: 30px;
    }
    &__btn {
        display: block;
        width: 100%;
        font-size: 16px;
        color: #fff;
        padding: 5px 18px;
        text-align: left;
        transition: background-color .3s ease;
        &:hover {
            background-color: $primary;
        }
    }
    &__trigger {
        min-width: 165px;
    }
}
