@use "fonts";
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body, html {
    overflow-x: hidden;
}

button {
    border: none;
    background: none;
    padding: 0;
    font-family: inherit;
    &:hover {
        cursor: pointer;
    }
}

input, textarea {
    border: none;
    font-family: inherit;
    color: #fff;
    &::placeholder {
        font-family: inherit;
        font-weight: 300;
    }
}

textarea {
    resize: none;
}

img {
    max-width: 100%;
}

.close-btn {
    background: url("../icons/close.svg") no-repeat center;
}

.no-scroll {
    overflow: hidden;
    padding-right: 17px;
}

.relative {
    position: relative;
}

.custom-input {
    display: block;
    width: 100%;
    background: rgba(50, 50, 50, 0.948044);
    mix-blend-mode: normal;
    opacity: 0.8;
    border-radius: 4px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 16px;
    max-height: 56px;
    &::placeholder {
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.3;
    }
    &[type="date"]::-webkit-inner-spin-button,
    &[type="date"]::-webkit-calendar-picker-indicator {
        background: url("../icons/calendar-icon.svg") no-repeat 95% center;
    }
}

.detailed-movie-info {
    background: $mainBg;
    padding-bottom: 30px;
}
