@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.custom-field {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.custom-label {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: $primary;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 13px;
}

.custom-checkbox {
    &__input {
        display: none;
        &:checked + .custom-checkbox__label-wrap {
            .custom-checkbox__box {
                background: $primary;
                border-color: $primary;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    &__box {
        display: inline-block;
        width: 16px;
        height: 16px;
        background: #FFFFFF;
        border: 1px solid #E6E8ED;
        border-radius: 2px;
        margin-right: 8px;
        transition: all .3s ease;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 10px;
            height: 8px;
            background: url("../../assets/icons/check-white.svg") no-repeat center / contain;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
    }
    &__label-wrap {
        display: block;
        cursor: pointer;
        padding: 5px 18px;
        &:hover {
            .custom-checkbox__label {
                color: $primary;
            }
        }
    }
    &__label {
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.8;
        transition: color .3s ease;
    }
}

.custom-textarea {
    height: 195px;
    max-height: unset;
}

.validation-error {
    display: block;
    font-size: 14px;
    color: $primary;
    mix-blend-mode: normal;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    left: 0;
}
